$main-color: #189b50;
$black: #000;
$white: #fefefe;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  a {
    text-decoration: none;
  }
}

@mixin center-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.wrapper-1 {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/wrapper-1-contact-bg.png);
    @include center-img;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-left: 10%;
    padding-top: 5vmax;
    header {
      width: 100%;
      padding: 1vmax 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      background-color: $white;
      top: 0;
      left: 0;
      border-bottom: 3px solid $main-color;
      z-index: 9999;
      .nav-logo {
        font-size: 2.8vmax;
        font-weight: 300;
        color: $black;
  
        span {
          color: $main-color;
        }
      }
      .nav {
        width: 32%;
        height: 3vmax;
        display: flex;
        align-items: center;
        .nav-list {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          .nav-item {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.2vmax;
            color: $black;
            cursor: pointer;
            position: relative;
            span {
              color: $main-color;
            }
            &::before {
              content: '';
              width: 0;
              height: 3px;
              background-color: $main-color;
              position: absolute;
              bottom: 0;
              transition: 250ms ease-in-out;
            }
            &:hover {
              &::before {
                width: 100%;
                transition: 250ms ease-in-out;
              }
            }
          }
        }
      }
    }
    .wrapper-1-container{
        background-color: $white;
        padding: 3vmax 3vmax 4vmax 3vmax;
        width: 40%;
        position: relative;
        .wrapper-1-title {
            font-size: 2.4vmax;
            font-weight: 500;
            color: $black;
            z-index: 1;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              width: 40%;
              height: 10px;
              background-color: $main-color;
              bottom: 0.75vmax;
              left: -1vmax;
              z-index: -1;
            }
          }
        .wrapper-1-form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 4vmax;
            row-gap: 2vmax;
            margin-top: 4vmax;
            .form-input{
                font-size: 0.9vmax;
                border: none;
                padding: 0.5vmax;
                border-bottom: 3px solid rgba(20,20,20,0.1);
                transition: 150ms ease-in-out;
                &:focus{
                    outline: none;
                    transition: 150ms ease-in-out;
                    border-bottom: 3px solid $black;
                }
            }
            .form-text{
                font-size: 0.9vmax;
                border: none;
                padding: 0.5vmax;
                grid-column: 1/3;
                resize: none;
                border-bottom: 3px solid rgba(20,20,20,0.1);
                &:focus{
                    outline: none;
                    transition: 150ms ease-in-out;
                    border-bottom: 3px solid $black;
                }
            }
            .form-button{
                padding: 0.5vmax 1vmax;
                grid-column: 2/3;
                width: 50%;
                margin-left: auto;
                font-size: 0.9vmax;
                color: $white;
                background-color: $main-color;
                border: none;
                border-radius: 30px;
                transition: 250ms ease-in-out;
                cursor: pointer;
                &:hover{
                    background-color: $black;
                    transition: 250ms ease-in-out;
                }
            }
        }
        .wrapper-1-contact-info{
            width: 100%;
            position: absolute;
            padding: 0.5vmax 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: $main-color;
            .wrapper-1-info-item{
                font-weight: 300;
                font-size: 0.9vmax;
                color: $white;
                span{
                    color: $black;
                }
            }
            .social-items{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 4vmax;
                .wrapper-1-social-btn{
                    width: 1.5vmax;
                    height: 1.5vmax;
                    border-radius: 10px;
                    border: none;
                    @include center-img;
                    cursor: pointer;
                }
                .fb-btn{
                    background-image: url(../assets/icons/contact-fb-icon.png)
                }
                .ig-btn{
                    background-image: url(../assets/icons/contact-ig-icon.png)
                }
            }
        }
    }
  }