$main-color: #178748;
$black: #000;
$white: #fff;

@mixin center-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  a {
    text-decoration: none;
  }
}

.wrapper-1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/wrapper-1-bg.png);
  @include center-img;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media screen and (orientation: portrait) {
    background-image: url(../assets/img/mobile-bg.png);
  }
  header {
    width: 100%;
    padding: 1vmax 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    @media screen and (orientation: portrait) {
      padding: 2vmax 0;
      width: 84%;
      left: 8%;
      justify-content: space-between;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90;
      left: 5%;
    }
    .nav-logo {
      font-size: 2.8vmax;
      font-weight: 300;
      color: $black;
      @media screen and (orientation: portrait) {
        font-size: 4vmax;
      }
      span {
        color: $main-color;
      }
    }
    .nav {
      width: 32%;
      height: 3vmax;
      display: flex;
      align-items: center;
      @media screen and (orientation: portrait) {
        justify-content: space-between;
        width: unset;
      }
      .nav-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        @media screen and (orientation: portrait) {
          display: none;
          width: 100vw;
          height: 100vh;
          position: absolute;
          padding: 30vh 0;
          left: -9.5%;
          top: 0;
          background-color: $white;
          flex-direction: column;
          z-index: 10;
        }
        @media screen and (orientation: portrait) and (max-width: 450px) {
          left: -6%;
        }
        .nav-item {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.2vmax;
          color: $black;
          cursor: pointer;
          position: relative;
          @media screen and (orientation: portrait) {
            font-size: 2vmax;
          }
          @media screen and (orientation: portrait) and (max-width: 450px) {
            font-size: 2.5vmax;
          }
          span {
            color: $main-color;
          }
          &::before {
            content: '';
            width: 0;
            height: 3px;
            background-color: $main-color;
            position: absolute;
            bottom: 0;
            transition: 250ms ease-in-out;
          }
          &:hover {
            &::before {
              width: 100%;
              transition: 250ms ease-in-out;
            }
          }
        }
      }
      .active {
        display: flex;
      }
      .nav-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
        @media screen and (orientation: portrait) {
          display: flex;
          z-index: 9999;
        }
        .hamburger-item {
          width: 5vmax;
          height: 0.5vmax;
          margin: 0.5vmax 0;
          background-color: $black;
          transition: 150ms ease-in-out;
        }
      }
      .active .item1 {
        display: none;
      }
      .active .item2 {
        transform: rotate(45deg);
      }
      .active .item3 {
        transform: rotate(-45deg);
        margin-top: -1vmax;
      }
    }
  }
  .wrapper-1-content {
    width: 50%;
    margin-top: 5vmax;
    margin-left: 17%;
    @media screen and (orientation: portrait) {
      width: 86%;
      margin: auto;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-1-title {
      font-weight: 500;
      font-size: 5vmax;
      @media screen and (min-width: 1000px) {
        font-size: 5.5vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 7vmax;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        font-size: 6vmax;
      }
      span {
        color: $main-color;
      }
    }
    .wrapper-1-description {
      width: 60%;
      margin-top: 1vmax;
      font-weight: 300;
      font-size: 0.9vmax;
      @media screen and (min-width: 1000px) {
        width: 70%;
        font-size: 1.1vmax;
      }
      @media screen and (orientation: portrait) {
        width: 90%;
        font-size: 2vmax;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        font-size: 2.2vmax;
      }
    }
    .wrapper-1-button {
      position: relative;
      font-size: 1vmax;
      color: $main-color;
      border: none;
      background-color: $white;
      margin-top: 4vmax;
      padding: 1vmax 2vmax;
      cursor: pointer;
      transition: 250ms ease-in-out;
      @media screen and (min-width: 1000px) {
        font-size: 1.1vmax;
      }
      @media screen and (orientation: portrait) {
        margin-top: 8vmax;
        font-size: 2vmax;
        padding: 2vmax 4vmax;
      }
      &::before {
        content: '';
        width: 40%;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        border-right: 3px solid $main-color;
        border-bottom: 3px solid $main-color;
        @media screen and (orientation: portrait) {
          width: 99%;
          height: 95%;
        }
      }
      &::after {
        content: '';
        width: 40%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border-left: 3px solid $main-color;
        border-top: 3px solid $main-color;
        @media screen and (orientation: portrait) {
          width: 99%;
          height: 95%;
        }
      }
      &:hover {
        &::before,
        &::after {
          display: none;
        }
        transition: 250ms ease-in-out;
        background-color: $main-color;
        color: $white;
      }
    }
  }
}
.wrapper-2 {
  width: 100%;
  padding: 5vmax 15%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  @media screen and (orientation: portrait) {
    padding: 5vmax 5%;
    flex-direction: column;
  }
  @media screen and (orientation: portrait) and (max-width: 450px) {
    padding: 5vmax 2.5%;
  }
  .wrapper-2-title {
    font-size: 1vmax;
    color: $black;
    font-weight: 400;
    margin-top: 0.75vmax;
    @media screen and (min-width: 1000px) {
      font-size: 1.1vmax;
    }
    @media screen and (orientation: portrait) {
      font-size: 1.8vmax;
    }
  }
  .wrapper-2-spacer {
    width: 10%;
    height: 3px;
    margin: 1.5vmax 1vmax;
    background-color: $main-color;
    @media screen and (orientation: portrait) {
      display: none;
    }
  }
  .wrapper-2-content {
    width: 70%;
    @media screen and (min-width: 1000px) {
      width: 75%;
    }
    @media screen and (orientation: portrait) {
      width: 100%;
      margin-top: 2vmax;
    }
    .wrapper-2-content-title {
      font-weight: 500;
      font-size: 2.4vmax;
      color: $main-color;
      @media screen and (min-width: 1000px) {
        font-size: 2.5vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 3.3vmax;
      }
    }
    .wrapper-2-content-description {
      font-weight: 300;
      margin-top: 1vmax;
      font-size: 1.1vmax;
      @media screen and (min-width: 1000px) {
        font-size: 1.2vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 1.8vmax;
        margin-top: 2vmax;
      }
    }
  }
}
.wrapper-3 {
  width: 100%;
  padding: 8vmax 0;
  @include center-img;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (orientation: portrait) {
    padding: 2vmax 0;
    flex-direction: column-reverse;
  }
  .wrapper-3-content {
    width: 45%;
    background-color: $main-color;
    padding: 3vmax;
    margin-right: -3vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
    @media screen and (orientation: portrait) {
      width: 100%;
      margin: auto;
      padding: 6vmax 10%;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      padding: 6vmax 5%;
    }
    .wrapper-3-title {
      font-size: 2.4vmax;
      color: $white;
      font-weight: 500;
      @media screen and (min-width: 1000px) {
        font-size: 2.5vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 3.5vmax;
      }
    }
    .wrapper-3-description {
      width: 90%;
      font-size: 1.1vmax;
      color: $white;
      font-weight: 300;
      margin-top: 1.5vmax;
      @media screen and (min-width: 1000px) {
        font-size: 1.2vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 1.8vmax;
      }
    }
    .wrapper-3-button {
      border: none;
      background-color: unset;
      color: $black;
      font-size: 1.1vmax;
      margin-top: 4vmax;
      border-bottom: 2px solid $black;
      transition: 250ms ease-in-out;
      cursor: pointer;
      @media screen and (min-width: 1000px) {
        font-size: 1.2vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 1.8vmax;
      }
      &:hover {
        transition: 250ms ease-in-out;
        border-bottom: 2px solid $white;
        color: $black;
      }
    }
  }
  .wrapper-3-img {
    width: 40vmax;
    height: 34vmax;
    @include center-img;
    background-image: url(../assets/img/wrapper-3-img.jpg);
    @media screen and (orientation: portrait) {
      width: 100%;
    }
  }
}
.wrapper-4 {
  width: 100%;
  padding: 4vmax 4vmax 6vmax 4vmax;
  background-image: url(../assets/img/wrapper-4-bg.png);
  @include center-img;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (orientation: portrait) {
    flex-direction: column-reverse;
    padding: 6vmax 0;
    background-image: unset;
  }
  .wrapper-4-container {
    width: 35%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vmax;
    @media screen and (orientation: portrait) {
      width: 80%;
      margin: 5vmax 0 0 0;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-4-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: rgba(255, 255, 255, 0.6);
      padding: 1vmax;
      -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
      @media screen and (orientation: portrait) {
        padding: 2vmax;
      }
      .wrapper-4-item-icon {
        width: 2vmax;
        height: 2vmax;
        @include center-img;
        background-image: url(../assets/icons/wrapper-4-offer-icon.png);
        @media screen and (orientation: portrait) {
          width: 3vmax;
          height: 3vmax;
        }
      }
      .wrapper-4-item-description {
        width: 85%;
        font-size: 1.1vmax;
        @media screen and (min-width: 1000px) {
          font-size: 1.2vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.8vmax;
        }
      }
    }
  }
  .wrapper-4-content {
    width: 35%;
    margin-left: -10%;
    @media screen and (orientation: portrait) {
      width: 80%;
      margin: auto;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-4-title {
      position: relative;
      font-size: 2.4vmax;
      font-weight: 500;
      z-index: 1;
      @media screen and (min-width: 1000px) {
        font-size: 2.5vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 3.5vmax;
      }
      &::before {
        content: '';
        position: absolute;
        width: 40%;
        height: 10px;
        background-color: $main-color;
        bottom: 0.75vmax;
        left: -1vmax;
        z-index: -1;
        opacity: 0.8;
      }
    }
    .wrapper-4-description {
      font-size: 1.1vmax;
      font-weight: 300;
      margin-top: 1.5vmax;
      width: 100%;
      @media screen and (min-width: 1000px) {
        font-size: 1.2vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 1.8vmax;
        margin-top: 3vmax;
      }
    }
  }
}

.wrapper-5 {
  width: 100%;
  padding: 6vmax 4vmax 4vmax 4vmax;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (orientation: portrait) {
    flex-direction: column;
    padding: 6vmax 0;
  }
  .wrapper-5-content {
    width: 35%;
    @media screen and (orientation: portrait) {
      width: 80%;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-5-title {
      position: relative;
      font-size: 2.4vmax;
      font-weight: 500;
      z-index: 1;
      @media screen and (min-width: 1000px) {
        font-size: 2.5vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 3.5vmax;
      }
      &::before {
        content: '';
        position: absolute;
        width: 40%;
        height: 10px;
        background-color: $main-color;
        bottom: 0.75vmax;
        left: -1vmax;
        z-index: -1;
        opacity: 0.8;
      }
    }
    .wrapper-5-description {
      font-size: 1.1vmax;
      font-weight: 300;
      margin-top: 1.5vmax;
      width: 85%;
      @media screen and (min-width: 1000px) {
        font-size: 1.2vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 1.8vmax;
        margin-top: 3vmax;
      }
    }
    .wrapper-5-content-button {
      border: none;
      background-color: unset;
      color: $main-color;
      font-size: 1.1vmax;
      margin-top: 4vmax;
      border-bottom: 2px solid $main-color;
      transition: 250ms ease-in-out;
      cursor: pointer;
      @media screen and (min-width: 1000px) {
        font-size: 1.2vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 1.8vmax;
      }
      &:hover {
        transition: 250ms ease-in-out;
        border-bottom: 2px solid $black;
        color: $black;
      }
    }
  }
  .wrapper-5-container {
    width: 35%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vmax;
    @media screen and (orientation: portrait) {
      width: 80%;
      margin: 5vmax 0 0 0;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-5-item,
    .wrapper-5-item-more {
      padding: 1.5vmax 1vmax;
      border-radius: 20px;
      background-color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
      @media screen and (orientation: portrait) {
        padding: 2.5vmax 1.5vmax;
      }
      .wrapper-5-item-icon {
        width: 3vmax;
        height: 3vmax;
        @include center-img;
        @media screen and (orientation: portrait) {
          width: 6vmax;
          height: 6vmax;
        }
      }
      .icon-1 {
        background-image: url(../assets/icons/wrapper-5-icon-1.png);
      }
      .icon-2 {
        background-image: url(../assets/icons/wrapper-5-icon-2.png);
      }
      .icon-3 {
        background-image: url(../assets/icons/wrapper-5-icon-3.png);
      }
      .wrapper-5-item-title {
        margin-top: 1vmax;
        font-weight: 500;
        font-size: 0.9vmax;
        @media screen and (min-width: 1000px) {
          font-size: 1;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.8vmax;
          text-align: center;
        }
      }
      .wrapper-5-item-description {
        font-weight: 300;
        margin-top: 1vmax;
        font-size: 0.8vmax;
        text-align: center;
        @media screen and (min-width: 1000px) {
          font-size: 0.9vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.3vmax;
        }
      }
    }
    .wrapper-5-item-more {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      .wrapper-5-more-text {
        font-size: 0.9vmax;
        color: $main-color;
        font-weight: 500;
        @media screen and (min-width: 1000px) {
          font-size: 1vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.8vmax;
        }
      }
    }
  }
}
.wrapper-6 {
  width: 100%;
  padding: 8vmax 0;
  background-image: url(../assets/img/wrapper-6-bg.png);
  @include center-img;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media screen and (orientation: portrait) {
    flex-direction: column;
    background-image: unset;
    padding: 6vmax 0;
  }
  .wrapper-6-content {
    margin-left: 10%;
    width: 55%;
    @media screen and (orientation: portrait) {
      width: 80%;
      margin: auto;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-6-title {
      position: relative;
      font-size: 2.4vmax;
      font-weight: 500;
      z-index: 1;
      @media screen and (min-width: 1000px) {
        font-size: 2.5vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 3.5vmax;
      }
      &::before {
        content: '';
        position: absolute;
        width: 40%;
        height: 10px;
        background-color: $main-color;
        bottom: 0.75vmax;
        left: -1vmax;
        z-index: -1;
        opacity: 0.8;
        @media screen and (orientation: portrait) {
          bottom: 6.25vmax;
        }
      }
    }
    .wrapper-6-container {
      display: grid;
      width: 60%;
      margin-left: 15%;
      row-gap: 2vmax;
      column-gap: 1vmax;
      margin-top: 6vmax;
      grid-template-columns: 3vmax 1fr;
      @media screen and (orientation: portrait) {
        width: 90%;
        margin: 5vmax auto 0 auto;
      }
      .wrapper-6-number {
        font-weight: 500;
        font-size: 1.2vmax;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        width: 2.5vmax;
        height: 2.5vmax;
        border-radius: 50%;
        @media screen and (min-width: 1000px) {
          font-size: 1.3vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.8vmax;
        }
      }
      .wrapper-6-text {
        -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
        padding: 1vmax;
        border-radius: 10px;
      }
      .wrapper-6-item-title {
        font-size: 1.1vmax;
        font-weight: 500;
        color: $black;
        @media screen and (min-width: 1000px) {
          font-size: 1.2vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.8vmax;
        }
      }
      .wrapper-6-item-description {
        font-weight: 300;
        font-size: 0.8vmax;
        margin-top: 0.5vmax;
        color: $black;
        @media screen and (min-width: 1000px) {
          font-size: 0.9vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.3vmax;
        }
      }
    }
  }
}

.wrapper-7 {
  width: 100%;
  padding: 5vmax 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (orientation: portrait) {
    padding: 6vmax 0 0 0;
  }
  .wrapper-7-title {
    position: absolute;
    left: 10%;
    font-size: 2.4vmax;
    font-weight: 500;
    z-index: 1;
    @media screen and (min-width: 1000px) {
      font-size: 2.5vmax;
    }
    @media screen and (orientation: portrait) {
      font-size: 3.5vmax;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      left: 5%;
    }
    &::before {
      content: '';
      position: absolute;
      width: 40%;
      height: 10px;
      background-color: $main-color;
      bottom: 0.75vmax;
      left: -1vmax;
      z-index: -1;
      opacity: 0.8;
    }
  }
  .wrapper-7-container {
    position: relative;
    margin-top: 10vmax;
    width: 66%;
    row-gap: 5vmax;
    @media screen and (orientation: portrait) {
      width: 80%;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-7-item {
      display: flex;
      margin-bottom: 5vmax;
      @media screen and (orientation: portrait) {
        flex-direction: column;
      }
      .wrapper-7-img {
        width: 100%;
        height: 22vmax;
        background-image: url(../assets/img/wrapper-3-img.jpg);
        @include center-img;
      }
      .wrapper-7-content {
        width: 110%;
        margin: auto 0 auto 0;
        z-index: 1;
        @media screen and (orientation: portrait) {
          width: 100%;
        }
        .wrapper-7-content-text {
          background-color: $main-color;
          padding: 3vmax;
          .wrapper-7-content-title {
            font-weight: 500;
            font-size: 1vmax;
            color: $white;
            @media screen and (min-width: 1000px) {
              font-size: 1.1vmax;
            }
            @media screen and (orientation: portrait) {
              font-size: 1.8vmax;
            }
          }
          .wrapper-7-content-description {
            font-weight: 300;
            font-size: 0.8vmax;
            color: $white;
            margin-top: 1vmax;
            @media screen and (min-width: 1000px) {
              font-size: 0.9vmax;
            }
            @media screen and (orientation: portrait) {
              font-size: 1.3vmax;
              margin-top: 3vmax;
            }
          }
        }
        .wrapper-7-content-buttons {
          padding: 0 10% 0 10%;
          margin-top: 1vmax;
          display: flex;
          justify-content: flex-end;
          .wrapper-7-view-btn {
            font-size: 0.8vmax;
            font-weight: 400;
            color: $black;
            border: none;
            border-radius: 20px;
            margin-left: 1vmax;
            background-color: unset;
            cursor: pointer;
            transition: 250ms ease-in-out;
            @media screen and (min-width: 1000px) {
              font-size: 0.9vmax;
            }
            @media screen and (orientation: portrait) {
              font-size: 1.5vmax;
            }
            &:hover {
              transition: 250ms ease-in-out;
              color: $main-color;
            }
          }
        }
        .left {
          justify-content: flex-start;
          @media screen and (orientation: portrait) {
            justify-content: flex-end;
          }
        }
      }
      .right {
        margin: auto 0 auto -7%;
        @media screen and (orientation: portrait) {
          margin: auto;
        }
      }
      .left {
        margin: auto -7% auto 0;
        @media screen and (orientation: portrait) {
          margin: auto;
        }
      }
    }
    .item-left {
      @media screen and (orientation: portrait) {
        flex-direction: column-reverse;
      }
    }
  }
}
.wrapper-8 {
  width: 100%;
  padding: 6vmax 0;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media screen and (orientation: portrait) {
    flex-direction: column;
  }
  .wrapper-8-content {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (orientation: portrait) {
      width: 80%;
      align-items: center;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-8-title {
      font-size: 2.4vmax;
      font-weight: 500;
      color: $black;
      position: relative;
      z-index: 1;
      @media screen and (min-width: 1000px) {
        font-size: 2.5vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 3.5vmax;
        text-align: center;
      }
      &::before {
        content: '';
        position: absolute;
        width: 40%;
        height: 10px;
        background-color: $main-color;
        top: 2.25vmax;
        left: -1vmax;
        z-index: -1;
        opacity: 0.8;
        @media screen and (orientation: portrait) {
          display: none;
        }
      }
    }
    .wrapper-8-description {
      margin-top: 2vmax;
      font-size: 0.9vmax;
      font-weight: 300;
      width: 75%;
      @media screen and (min-width: 1000px) {
        font-size: 1vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 1.8vmax;
        text-align: center;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        width: 90%;
      }
    }
  }
  .wrapper-8-button {
    padding: 1vmax 3vmax;
    margin-top: 2vmax;
    background-color: $main-color;
    color: $white;
    font-size: 1vmax;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 250ms ease-in-out;
    font-weight: 300;
    @media screen and (min-width: 1000px) {
      font-size: 1.1vmax;
    }
    @media screen and (orientation: portrait) {
      font-size: 1.8vmax;
      margin-top: 3vmax;
    }
    &:hover {
      background-color: $black;
      color: $white;
      transition: 250ms ease-in-out;
    }
  }
  .wrapper-8-bar {
    width: 100%;
    height: 1vmax;
    background-color: $main-color;
    position: absolute;
    bottom: 0;
  }
}
