* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
}

.wrapper-1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/wrapper-1-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.wrapper-1 header {
  width: 100%;
  padding: 1vmax 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper-1 header .nav-logo {
  font-size: 2.8vmax;
  font-weight: 300;
  color: #000;
}
.wrapper-1 header .nav-logo span {
  color: #189b50;
}
.wrapper-1 header .nav {
  width: 32%;
  height: 3vmax;
  display: flex;
  align-items: center;
}
.wrapper-1 header .nav .nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.wrapper-1 header .nav .nav-list .nav-item {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2vmax;
  color: #000;
  cursor: pointer;
  position: relative;
}
.wrapper-1 header .nav .nav-list .nav-item span {
  color: #189b50;
}
.wrapper-1 header .nav .nav-list .nav-item::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #189b50;
  position: absolute;
  bottom: 0;
  transition: 250ms ease-in-out;
}
.wrapper-1 header .nav .nav-list .nav-item:hover::before {
  width: 100%;
  transition: 250ms ease-in-out;
}
.wrapper-1 .wrapper-1-content {
  width: 50%;
  margin-top: 5vmax;
  margin-left: 17%;
}
.wrapper-1 .wrapper-1-content .wrapper-1-title {
  font-weight: 500;
  font-size: 4.5vmax;
}
.wrapper-1 .wrapper-1-content .wrapper-1-title span {
  color: #189b50;
}
.wrapper-1 .wrapper-1-content .wrapper-1-description {
  width: 60%;
  margin-top: 1vmax;
  font-weight: 300;
  font-size: 0.9vmax;
}
.wrapper-1 .wrapper-1-content .wrapper-1-button {
  position: relative;
  font-size: 1vmax;
  color: #189b50;
  border: none;
  background-color: #fefefe;
  margin-top: 4vmax;
  padding: 1vmax 2vmax;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.wrapper-1 .wrapper-1-content .wrapper-1-button::before {
  content: "";
  width: 40%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 3px solid #189b50;
  border-bottom: 3px solid #189b50;
}
.wrapper-1 .wrapper-1-content .wrapper-1-button::after {
  content: "";
  width: 40%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 3px solid #189b50;
  border-top: 3px solid #189b50;
}
.wrapper-1 .wrapper-1-content .wrapper-1-button:hover {
  transition: 250ms ease-in-out;
  background-color: #189b50;
  color: #fefefe;
}
.wrapper-1 .wrapper-1-content .wrapper-1-button:hover::before, .wrapper-1 .wrapper-1-content .wrapper-1-button:hover::after {
  display: none;
}

.wrapper-2 {
  width: 100%;
  padding: 5vmax 15%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.wrapper-2 .wrapper-2-title {
  font-size: 1vmax;
  color: #000;
  font-weight: 400;
  margin-top: 0.75vmax;
}
.wrapper-2 .wrapper-2-spacer {
  width: 10%;
  height: 3px;
  margin: 1.5vmax 1vmax;
  background-color: #189b50;
}
.wrapper-2 .wrapper-2-content {
  width: 70%;
}
.wrapper-2 .wrapper-2-content .wrapper-2-content-title {
  font-weight: 500;
  font-size: 2.4vmax;
  color: #189b50;
}
.wrapper-2 .wrapper-2-content .wrapper-2-content-description {
  font-weight: 300;
  margin-top: 1vmax;
  font-size: 1.1vmax;
}

.wrapper-3 {
  width: 100%;
  padding: 8vmax 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-3 .wrapper-3-content {
  width: 45%;
  background-color: #189b50;
  padding: 3vmax;
  margin-right: -3vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}
.wrapper-3 .wrapper-3-content .wrapper-3-title {
  font-size: 2.4vmax;
  color: #fefefe;
  font-weight: 500;
}
.wrapper-3 .wrapper-3-content .wrapper-3-description {
  width: 90%;
  font-size: 1.1vmax;
  color: #fefefe;
  font-weight: 300;
  margin-top: 1.5vmax;
}
.wrapper-3 .wrapper-3-content .wrapper-3-button {
  border: none;
  background-color: unset;
  color: #fefefe;
  font-size: 1.1vmax;
  margin-top: 4vmax;
  border-bottom: 2px solid #fefefe;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.wrapper-3 .wrapper-3-content .wrapper-3-button:hover {
  transition: 250ms ease-in-out;
  border-bottom: 2px solid #000;
  color: #000;
}
.wrapper-3 .wrapper-3-img {
  width: 40vmax;
  height: 30vmax;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/img/wrapper-3-img.jpg);
}

.wrapper-4 {
  width: 100%;
  padding: 4vmax 4vmax 6vmax 4vmax;
  background-image: url(../assets/img/wrapper-4-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper-4 .wrapper-4-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vmax;
}
.wrapper-4 .wrapper-4-container .box1 {
  margin-bottom: 2vmax;
}
.wrapper-4 .wrapper-4-container .box2 {
  margin-top: 2vmax;
}
.wrapper-4 .wrapper-4-container .wrapper-4-box {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3vmax;
}
.wrapper-4 .wrapper-4-container .wrapper-4-box .wrapper-4-container-item {
  padding: 2vmax 0.25vmax;
  border-radius: 20px;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
}
.wrapper-4 .wrapper-4-container .wrapper-4-box .wrapper-4-container-item .wrapper-4-item-icon {
  width: 3vmax;
  height: 3vmax;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper-4 .wrapper-4-container .wrapper-4-box .wrapper-4-container-item .icon-1 {
  background-image: url(../assets/icons/wrapper-4-icon-1.png);
}
.wrapper-4 .wrapper-4-container .wrapper-4-box .wrapper-4-container-item .icon-2 {
  background-image: url(../assets/icons/wrapper-4-icon-2.png);
}
.wrapper-4 .wrapper-4-container .wrapper-4-box .wrapper-4-container-item .icon-3 {
  background-image: url(../assets/icons/wrapper-4-icon-3.png);
}
.wrapper-4 .wrapper-4-container .wrapper-4-box .wrapper-4-container-item .icon-4 {
  background-image: url(../assets/icons/wrapper-4-icon-4.png);
}
.wrapper-4 .wrapper-4-container .wrapper-4-box .wrapper-4-container-item .wrapper-4-item-title {
  margin-top: 0.5vmax;
  font-weight: 400;
  font-size: 0.9vmax;
}
.wrapper-4 .wrapper-4-content {
  width: 35%;
}
.wrapper-4 .wrapper-4-content .wrapper-4-title {
  position: relative;
  font-size: 2.4vmax;
  font-weight: 500;
  z-index: 1;
}
.wrapper-4 .wrapper-4-content .wrapper-4-title::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 10px;
  background-color: #189b50;
  bottom: 0.75vmax;
  left: -1vmax;
  z-index: -1;
}
.wrapper-4 .wrapper-4-content .wrapper-4-description {
  font-size: 1.1vmax;
  font-weight: 300;
  margin-top: 1.5vmax;
  width: 85%;
}
.wrapper-4 .wrapper-4-content .wrapper-4-content-button {
  border: none;
  background-color: unset;
  color: #189b50;
  font-size: 1.1vmax;
  margin-top: 4vmax;
  border-bottom: 2px solid #189b50;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.wrapper-4 .wrapper-4-content .wrapper-4-content-button:hover {
  transition: 250ms ease-in-out;
  border-bottom: 2px solid #000;
  color: #000;
}

.wrapper-5 {
  width: 100%;
  padding: 6vmax 4vmax 4vmax 4vmax;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-5 .wrapper-5-content {
  width: 35%;
}
.wrapper-5 .wrapper-5-content .wrapper-5-title {
  position: relative;
  font-size: 2.4vmax;
  font-weight: 500;
  z-index: 1;
}
.wrapper-5 .wrapper-5-content .wrapper-5-title::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 10px;
  background-color: #189b50;
  bottom: 0.75vmax;
  left: -1vmax;
  z-index: -1;
}
.wrapper-5 .wrapper-5-content .wrapper-5-description {
  font-size: 1.1vmax;
  font-weight: 300;
  margin-top: 1.5vmax;
  width: 85%;
}
.wrapper-5 .wrapper-5-content .wrapper-5-content-button {
  border: none;
  background-color: unset;
  color: #189b50;
  font-size: 1.1vmax;
  margin-top: 4vmax;
  border-bottom: 2px solid #189b50;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.wrapper-5 .wrapper-5-content .wrapper-5-content-button:hover {
  transition: 250ms ease-in-out;
  border-bottom: 2px solid #000;
  color: #000;
}
.wrapper-5 .wrapper-5-container {
  width: 35%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vmax;
}
.wrapper-5 .wrapper-5-container .wrapper-5-item,
.wrapper-5 .wrapper-5-container .wrapper-5-item-more {
  padding: 1.5vmax 1vmax;
  border-radius: 20px;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
}
.wrapper-5 .wrapper-5-container .wrapper-5-item .wrapper-5-item-icon,
.wrapper-5 .wrapper-5-container .wrapper-5-item-more .wrapper-5-item-icon {
  width: 3vmax;
  height: 3vmax;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper-5 .wrapper-5-container .wrapper-5-item .icon-1,
.wrapper-5 .wrapper-5-container .wrapper-5-item-more .icon-1 {
  background-image: url(../assets/icons/wrapper-5-icon-1.png);
}
.wrapper-5 .wrapper-5-container .wrapper-5-item .icon-2,
.wrapper-5 .wrapper-5-container .wrapper-5-item-more .icon-2 {
  background-image: url(../assets/icons/wrapper-5-icon-2.png);
}
.wrapper-5 .wrapper-5-container .wrapper-5-item .icon-3,
.wrapper-5 .wrapper-5-container .wrapper-5-item-more .icon-3 {
  background-image: url(../assets/icons/wrapper-5-icon-3.png);
}
.wrapper-5 .wrapper-5-container .wrapper-5-item .wrapper-5-item-title,
.wrapper-5 .wrapper-5-container .wrapper-5-item-more .wrapper-5-item-title {
  margin-top: 1vmax;
  font-weight: 500;
  font-size: 0.9vmax;
}
.wrapper-5 .wrapper-5-container .wrapper-5-item .wrapper-5-item-description,
.wrapper-5 .wrapper-5-container .wrapper-5-item-more .wrapper-5-item-description {
  font-weight: 300;
  margin-top: 1vmax;
  font-size: 0.8vmax;
  text-align: center;
}
.wrapper-5 .wrapper-5-container .wrapper-5-item-more {
  box-shadow: none;
}
.wrapper-5 .wrapper-5-container .wrapper-5-item-more .wrapper-5-more-text {
  font-size: 0.9vmax;
  color: #189b50;
  font-weight: 500;
}

.wrapper-6 {
  width: 100%;
  padding: 8vmax 0;
  background-image: url(../assets/img/wrapper-6-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrapper-6 .wrapper-6-content {
  margin-left: 10%;
  width: 55%;
}
.wrapper-6 .wrapper-6-content .wrapper-6-title {
  position: relative;
  font-size: 2.4vmax;
  font-weight: 500;
  z-index: 1;
}
.wrapper-6 .wrapper-6-content .wrapper-6-title::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 10px;
  background-color: #189b50;
  bottom: 0.75vmax;
  left: -1vmax;
  z-index: -1;
}
.wrapper-6 .wrapper-6-content .wrapper-6-container {
  display: grid;
  width: 60%;
  margin-left: 15%;
  row-gap: 2vmax;
  -moz-column-gap: 1vmax;
       column-gap: 1vmax;
  margin-top: 6vmax;
  grid-template-columns: 3vmax 1fr;
}
.wrapper-6 .wrapper-6-content .wrapper-6-container .wrapper-6-number {
  font-weight: 500;
  font-size: 1.2vmax;
  color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #189b50;
  width: 2.5vmax;
  height: 2.5vmax;
  border-radius: 50%;
}
.wrapper-6 .wrapper-6-content .wrapper-6-container .wrapper-6-text {
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  padding: 1vmax;
  border-radius: 10px;
}
.wrapper-6 .wrapper-6-content .wrapper-6-container .wrapper-6-item-title {
  font-size: 1.1vmax;
  font-weight: 500;
  color: #000;
}
.wrapper-6 .wrapper-6-content .wrapper-6-container .wrapper-6-item-description {
  font-weight: 300;
  font-size: 0.8vmax;
  margin-top: 0.5vmax;
  color: #000;
}

.wrapper-7 {
  width: 100%;
  padding: 5vmax 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper-7 .wrapper-7-title {
  position: absolute;
  left: 10%;
  font-size: 2.4vmax;
  font-weight: 500;
  z-index: 1;
}
.wrapper-7 .wrapper-7-title::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 10px;
  background-color: #189b50;
  bottom: 0.75vmax;
  left: -1vmax;
  z-index: -1;
}
.wrapper-7 .wrapper-7-container {
  position: relative;
  margin-top: 10vmax;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5vmax;
}
.wrapper-7 .wrapper-7-container .wrapper-7-img {
  width: 100%;
  height: 20vmax;
  background-image: url(../assets/img/wrapper-3-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper-7 .wrapper-7-container .wrapper-7-content {
  width: 110%;
  margin: auto 0 auto 0;
  z-index: 1;
}
.wrapper-7 .wrapper-7-container .wrapper-7-content .wrapper-7-content-text {
  background-color: #189b50;
  padding: 2vmax;
}
.wrapper-7 .wrapper-7-container .wrapper-7-content .wrapper-7-content-text .wrapper-7-content-title {
  font-weight: 500;
  font-size: 1vmax;
  color: #fefefe;
}
.wrapper-7 .wrapper-7-container .wrapper-7-content .wrapper-7-content-text .wrapper-7-content-description {
  font-weight: 300;
  font-size: 0.8vmax;
  color: #fefefe;
  margin-top: 1vmax;
}
.wrapper-7 .wrapper-7-container .wrapper-7-content .wrapper-7-content-buttons {
  padding: 0 10% 0 10%;
  margin-top: 1vmax;
  display: flex;
  justify-content: flex-end;
}
.wrapper-7 .wrapper-7-container .wrapper-7-content .wrapper-7-content-buttons .wrapper-7-view-btn {
  font-size: 0.8vmax;
  font-weight: 400;
  color: #000;
  border: none;
  border-radius: 20px;
  margin-left: 1vmax;
  background-color: unset;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.wrapper-7 .wrapper-7-container .wrapper-7-content .wrapper-7-content-buttons .wrapper-7-view-btn:hover {
  transition: 250ms ease-in-out;
  color: #189b50;
}
.wrapper-7 .wrapper-7-container .wrapper-7-content .left {
  justify-content: flex-start;
}
.wrapper-7 .wrapper-7-container .right {
  margin: auto 0 auto -10%;
}
.wrapper-7 .wrapper-7-container .left {
  margin: auto -10% auto 0;
}

.wrapper-8 {
  width: 100%;
  padding: 6vmax 0;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper-8 .wrapper-8-content {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wrapper-8 .wrapper-8-content .wrapper-8-title {
  font-size: 2.4vmax;
  font-weight: 500;
  color: #000;
  position: relative;
  z-index: 1;
}
.wrapper-8 .wrapper-8-content .wrapper-8-title::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 10px;
  background-color: #189b50;
  top: 2.25vmax;
  left: -1vmax;
  z-index: -1;
}
.wrapper-8 .wrapper-8-content .wrapper-8-description {
  margin-top: 2vmax;
  font-size: 0.9vmax;
  font-weight: 300;
  width: 75%;
}
.wrapper-8 .wrapper-8-button {
  padding: 1vmax 3vmax;
  margin-top: 2vmax;
  background-color: #189b50;
  color: #fefefe;
  font-size: 1vmax;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  font-weight: 300;
}
.wrapper-8 .wrapper-8-button:hover {
  background-color: #000;
  color: #fefefe;
  transition: 250ms ease-in-out;
}
.wrapper-8 .wrapper-8-bar {
  width: 100%;
  height: 1vmax;
  background-color: #189b50;
  position: absolute;
  bottom: 0;
}/*# sourceMappingURL=main.css.map */