$main-color: #189b50;
$black: #000;
$white: #fefefe;

@mixin center-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  a {
    text-decoration: none;
  }
}

.wrapper-1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/wrapper-1-offer-bg.png);
  @include center-img;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  header {
    width: 100%;
    padding: 1vmax 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: $white;
    top: 0;
    left: 0;
    border-bottom: 3px solid $main-color;
    z-index: 9999;
    .nav-logo {
      font-size: 2.8vmax;
      font-weight: 300;
      color: $black;

      span {
        color: $main-color;
      }
    }
    .nav {
      width: 32%;
      height: 3vmax;
      display: flex;
      align-items: center;
      .nav-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        .nav-item {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.2vmax;
          color: $black;
          cursor: pointer;
          position: relative;
          span {
            color: $main-color;
          }
          &::before {
            content: '';
            width: 0;
            height: 3px;
            background-color: $main-color;
            position: absolute;
            bottom: 0;
            transition: 250ms ease-in-out;
          }
          &:hover {
            &::before {
              width: 100%;
              transition: 250ms ease-in-out;
            }
          }
        }
      }
    }
  }
  .wrapper-1-content {
    width: 45%;
    height: 100%;
    position: relative;
    background-color: $white;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .wrapper-1-title {
      font-size: 3vmax;
      color: $black;
      font-weight: 500;
      span {
        color: $main-color;
      }
    }
    .wrapper-1-description {
      font-size: 1.1vmax;
      font-weight: 300;
      color: $black;
      margin-top: 2vmax;
      width: 90%;
    }
    .wrapper-1-content-arrow {
      width: 4vmax;
      height: 4vmax;
      position: absolute;
      bottom: 4vmax;
      left: 50%;
      margin-left: -3vmax;
      background-image: url(../assets/icons/wrapper-1-offer-icon.png);
      @include center-img;
      cursor: pointer;
      transition: 300ms ease-in-out;
      &:hover {
        transition: 300ms ease-in-out;
        bottom: 3.75vmax;
      }
    }
  }
}

.wrapper-2{
  width: 100%;
  padding: 10vmax 0 5vmax 0;
  .wrapper-2-title{
    font-size: 3.4vmax;
    font-weight: 500;
    margin-left: 5%;
    position: relative;
    &::before{
      content: '01';
      position: absolute;
      bottom: -1vmax;
      left: -1.5vmax;
      font-size: 7vmax;
      color: $main-color;
      z-index: -1;
      opacity: 0.4;
    }
  }
  .wrapper-2-content {
    width: 100%;
    margin-top: 7vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper-2-img {
      width: 30vmax;
      height: 35vmax;
      background-image: url(../assets/img/wrapper-2-img.jpg);
      background-position: center;
      background-size: cover;
      position: relative;
      @media screen and (orientation: portrait) {
        width: 100%;
        height: 30vmax;
        margin-top: 6vmax;
        margin-bottom: 0;
        
      }
    }
    .wrapper-2-content-text{
      width: 45%;
      padding: 3vmax;
      margin-left: -3vmax;
      z-index: 1;
      background-color: $main-color;
      .wrapper-2-text-title{
        font-size: 2.4vmax;
        font-weight: 500;
        color: $white;
      }
      .wrapper-2-text-description {
        font-size: 1.1vmax;
        font-weight: 300;
        color: $white;
        margin-top: 2vmax;
      }
    }   
  }
}

.wrapper-3{
  width: 100%;
  padding: 5vmax 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper-3-container{
    width: 35%;
    display: grid;
    column-gap: 10%;
    margin-right: 8%;
    row-gap: 2vmax;
    grid-template-columns: 1fr 1fr;
    .wrapper-3-container-item{
      width: 100%;
      .wrapper-3-item-header{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .wrapper-3-item-icon{
          width: 2vmax;
          height: 2vmax;
          background-color: darkgoldenrod;
        }
        .wrapper-3-item-title{
          font-weight: 500;
          font-size: 1.2vmax;
          color: $black;
          margin-left: 1vmax;
        }
      }
      .wrapper-3-item-description{
        font-weight: 300;
        font-size: 0.9vmax;
        color: $black;
      }
    }
  }
  .wrapper-3-img {
    width: 30vmax;
    height: 35vmax;
    background-image: url(../assets/img/wrapper-2-img.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    @media screen and (orientation: portrait) {
      width: 100%;
      height: 30vmax;
      margin-top: 6vmax;
      margin-bottom: 0;
      
    }
  }
}

.wrapper-4{
  width: 100%;
  padding: 5vmax 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper-4-img {
    width: 30vmax;
    height: 35vmax;
    background-image: url(../assets/img/wrapper-2-img.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    @media screen and (orientation: portrait) {
      width: 100%;
      height: 30vmax;
      margin-top: 6vmax;
      margin-bottom: 0;
    }
  }
  .wrapper-4-container{
    width: 35%;
    margin-left: 8%;
    .wrapper-4-title {
      font-size: 2.4vmax;
      font-weight: 500;
      color: $black;
      z-index: 1;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 40%;
        height: 10px;
        background-color: $main-color;
        bottom: 0.75vmax;
        left: -1vmax;
        z-index: -1;
      }
    }
    .wrapper-4-content{
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 1vmax;
      row-gap: 2vmax;
      margin-top: 3vmax;
      .wrapper-4-content-icon{
        width: 1.5vmax;
        height: 1.5vmax;
        background-image: url(../assets/icons/wrapper-4-offer-icon.png);
        @include center-img;
      }
      .wrapper-4-content-text{
        font-weight: 300;
        font-size: 0.9vmax;
      }
    }
  }
}