$main-color: #178748;
$black: #000;
$white: #fff;

@mixin center-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  a {
    text-decoration: none;
  }
}

.wrapper-1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/wrapper-1-offer-bg.png);
  @include center-img;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  header {
    width: 100%;
    padding: 1vmax 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: $white;
    top: 0;
    left: 0;
    border-bottom: 3px solid $main-color;
    z-index: 10;
    @media screen and (orientation: portrait) {
      padding: 2vmax;
      width: 100%;
      left: 0;
      justify-content: space-between;
      border: none;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 100%;
      left: 0;
    }
    .nav-logo {
      font-size: 2.8vmax;
      font-weight: 300;
      color: $black;
      @media screen and (orientation: portrait) {
        font-size: 4vmax;
      }
      span {
        color: $main-color;
      }
    }
    .nav {
      width: 32%;
      height: 3vmax;
      display: flex;
      align-items: center;
      @media screen and (orientation: portrait) {
        justify-content: space-between;
        width: unset;
      }
      .nav-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        @media screen and (orientation: portrait) {
          display: none;
          width: 100vw;
          height: 100vh;
          position: absolute;
          padding: 30vh 0;
          left: 0;
          top: 0;
          background-color: $white;
          flex-direction: column;
          z-index: 10;
        }
        @media screen and (orientation: portrait) and (max-width: 450px) {
          left: 0;
        }
        .nav-item {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.2vmax;
          color: $black;
          cursor: pointer;
          position: relative;
          @media screen and (orientation: portrait) {
            font-size: 2vmax;
          }
          @media screen and (orientation: portrait) and (max-width: 450px) {
            font-size: 2.5vmax;
          }
          span {
            color: $main-color;
          }
          &::before {
            content: '';
            width: 0;
            height: 3px;
            background-color: $main-color;
            position: absolute;
            bottom: 0;
            transition: 250ms ease-in-out;
          }
          &:hover {
            &::before {
              width: 100%;
              transition: 250ms ease-in-out;
            }
          }
        }
      }
      .active {
        display: flex;
      }
      .nav-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
        @media screen and (orientation: portrait) {
          display: flex;
          z-index: 9999;
        }
        .hamburger-item {
          width: 5vmax;
          height: 0.5vmax;
          margin: 0.5vmax 0;
          background-color: $black;
          transition: 150ms ease-in-out;
        }
      }
      .active .item1 {
        display: none;
      }
      .active .item2 {
        transform: rotate(45deg);
      }
      .active .item3 {
        transform: rotate(-45deg);
        margin-top: -1vmax;
      }
    }
  }
  .wrapper-1-content {
    width: 45%;
    height: 100%;
    position: relative;
    background-color: $white;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media screen and (orientation: portrait) {
      width: 100%;
      padding: 0 8%;
      margin: auto;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      padding: 0 3% 15vmax 3%;
    }
    .wrapper-1-title {
      font-size: 3vmax;
      color: $black;
      font-weight: 500;
      @media screen and (min-width: 1000px) {
        font-size: 3.2vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 6vmax;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        font-size: 5vmax;
      }
      span {
        color: $main-color;
      }
    }
    .wrapper-1-description {
      font-size: 1.1vmax;
      font-weight: 300;
      color: $black;
      margin-top: 2vmax;
      width: 90%;
      @media screen and (min-width: 1000px) {
        font-size: 1.2vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 2vmax;
      }
    }
    .wrapper-1-content-arrow {
      width: 4vmax;
      height: 4vmax;
      position: absolute;
      bottom: 4vmax;
      left: 50%;
      margin-left: -3vmax;
      background-image: url(../assets/icons/wrapper-1-offer-icon.png);
      @include center-img;
      cursor: pointer;
      transition: 300ms ease-in-out;
      border: none;
      background-color: unset;
      @media screen and (orientation: portrait) {
        bottom: 10vmax;
        width: 8vmax;
        height: 8vmax;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        bottom: 14vmax;
      }
      &:hover {
        transition: 300ms ease-in-out;
        bottom: 3.75vmax;
      }
    }
  }
}

.wrapper-2 {
  width: 100%;
  padding: 5vmax 0;
  @media screen and (orientation: portrait) {
    padding: 5vmax 0 0 0;
  }
  .wrapper-2-title {
    font-size: 3.4vmax;
    font-weight: 500;
    margin-left: 5%;
    position: relative;
    @media screen and (min-width: 1000px) {
      font-size: 3.5vmax;
    }
    @media screen and (orientation: portrait) {
      font-size: 4vmax;
    }
    &::before {
      content: '01';
      position: absolute;
      bottom: -1vmax;
      left: -1.5vmax;
      font-size: 7vmax;
      color: $main-color;
      z-index: -1;
      opacity: 0.4;
      @media screen and (orientation: portrait) {
        font-size: 8vmax;
      }
    }
  }
  .wrapper-2-content {
    width: 100%;
    margin-top: 7vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (orientation: portrait) {
      flex-direction: column;
      margin-top: 3vmax;
    }
    .wrapper-2-img {
      width: 30vmax;
      height: 35vmax;
      background-image: url(../assets/img/wrapper-2-img.jpg);
      background-position: center;
      background-size: cover;
      position: relative;
      @media screen and (orientation: portrait) {
        width: 80%;
        height: 30vmax;
        margin-top: 6vmax;
        margin-bottom: 0;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        width: 90%;
      }
    }
    .wrapper-2-content-text {
      width: 45%;
      padding: 3vmax;
      margin-left: -3vmax;
      z-index: 1;
      background-color: $main-color;
      @media screen and (orientation: portrait) {
        width: 80%;
        margin: auto;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        width: 90%;
      }
      .wrapper-2-text-title {
        font-size: 2.4vmax;
        font-weight: 500;
        color: rgb(240, 240, 240);
        @media screen and (min-width: 1000px) {
          font-size: 2.5vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 3.5vmax;
        }
      }
      .wrapper-2-text-description {
        font-size: 1.1vmax;
        font-weight: 300;
        color: $white;
        margin-top: 2vmax;
        @media screen and (min-width: 1000px) {
          font-size: 1.2vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.8vmax;
        }
      }
    }
  }
}

.wrapper-3 {
  width: 100%;
  padding: 5vmax 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (orientation: portrait) {
    flex-direction: column-reverse;
  }
  .wrapper-3-container {
    width: 35%;
    display: grid;
    column-gap: 5%;
    margin-right: 6%;
    row-gap: 2vmax;
    grid-template-columns: 1fr 1fr;
    @media screen and (orientation: portrait) {
      width: 80%;
      margin: 6vmax auto 0 auto;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-3-container-item {
      width: 100%;
      .wrapper-3-item-header {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .wrapper-3-item-icon {
          width: 2vmax;
          height: 2vmax;
          @include center-img;
          @media screen and (orientation: portrait) {
            width: 4vmax;
            height: 4vmax;
          }
        }
        .icon1 {
          background-image: url(../assets/icons/wrapper-3-offer-icon-1.png);
        }
        .icon2 {
          background-image: url(../assets/icons/wrapper-3-offer-icon-2.png);
        }
        .icon3 {
          background-image: url(../assets/icons/wrapper-3-offer-icon-3.png);
        }
        .icon4 {
          background-image: url(../assets/icons/wrapper-3-offer-icon-4.png);
        }
        .icon5 {
          background-image: url(../assets/icons/wrapper-3-offer-icon-5.png);
        }
        .icon6 {
          background-image: url(../assets/icons/wrapper-3-offer-icon-6.png);
        }
        .wrapper-3-item-title {
          font-weight: 500;
          font-size: 1.2vmax;
          color: $black;
          margin-left: 1vmax;
          @media screen and (min-width: 1000px) {
            font-size: 1.3vmax;
          }
          @media screen and (orientation: portrait) {
            font-size: 1.8vmax;
          }
        }
      }
      .wrapper-3-item-description {
        font-weight: 300;
        font-size: 0.9vmax;
        margin-top: 0.7vmax;
        color: $black;
        @media screen and (min-width: 1000px) {
          font-size: 1vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.3vmax;
        }
      }
    }
  }
  .wrapper-3-img {
    width: 30vmax;
    height: 35vmax;
    background-image: url(../assets/img/wrapper-2-img.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    @media screen and (orientation: portrait) {
      width: 80%;
      height: 30vmax;
      margin-bottom: 0;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
  }
}

.wrapper-4 {
  width: 100%;
  padding: 5vmax 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (orientation: portrait) {
    flex-direction: column-reverse;
  }
  .wrapper-4-img {
    width: 30vmax;
    height: 35vmax;
    background-image: url(../assets/img/wrapper-2-img.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    @media screen and (orientation: portrait) {
      width: 80%;
      height: 30vmax;
      margin-top: 6vmax;
      margin-bottom: 0;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
  }
  .wrapper-4-container {
    width: 35%;
    margin-left: 6%;
    @media screen and (orientation: portrait) {
      width: 80%;
      margin: auto;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-4-title {
      font-size: 2.4vmax;
      font-weight: 500;
      color: $black;
      z-index: 1;
      position: relative;
      @media screen and (min-width: 1000px) {
        font-size: 2.5vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 3.5vmax;
      }
      &::before {
        content: '';
        position: absolute;
        width: 40%;
        height: 10px;
        background-color: $main-color;
        bottom: 0.75vmax;
        left: -1vmax;
        z-index: -1;
      }
    }
    .wrapper-4-content {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 1vmax;
      row-gap: 2vmax;
      margin-top: 3vmax;
      .wrapper-4-content-icon {
        width: 1.5vmax;
        height: 1.5vmax;
        background-image: url(../assets/icons/wrapper-4-offer-icon.png);
        @include center-img;
        @media screen and (orientation: portrait) {
          width: 2.5vmax;
          height: 2.5vmax;
        }
      }
      .wrapper-4-content-text {
        font-weight: 300;
        font-size: 1vmax;
        @media screen and (min-width: 1000px) {
          font-size: 1.1vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.8vmax;
        }
      }
    }
  }
}
.wrapper-5 {
  width: 100%;
  padding: 6vmax 0;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media screen and (orientation: portrait) {
    flex-direction: column;
  }
  .wrapper-5-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (orientation: portrait) {
      width: 80%;
      align-items: center;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-5-title {
      font-size: 2.4vmax;
      font-weight: 500;
      color: $black;
      position: relative;
      z-index: 1;
      @media screen and (min-width: 1000px) {
        font-size: 2.5vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 3.5vmax;
        text-align: center;
      }
      &::before {
        content: '';
        position: absolute;
        width: 40%;
        height: 10px;
        background-color: $main-color;
        top: 2.25vmax;
        left: -1vmax;
        z-index: -1;
        @media screen and (orientation: portrait) {
          display: none;
        }
      }
    }
    .wrapper-5-description {
      margin-top: 2vmax;
      font-size: 0.9vmax;
      font-weight: 300;
      width: 75%;
      @media screen and (min-width: 1000px) {
        font-size: 1vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 1.8vmax;
        text-align: center;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        width: 90%;
      }
    }
  }
  .wrapper-5-button {
    padding: 1vmax 3vmax;
    margin-top: 2vmax;
    background-color: $main-color;
    color: $white;
    font-size: 1vmax;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 250ms ease-in-out;
    font-weight: 300;
    @media screen and (min-width: 1000px) {
      font-size: 1.1vmax;
    }
    @media screen and (orientation: portrait) {
      font-size: 1.8vmax;
      margin-top: 3vmax;
    }
    &:hover {
      background-color: $black;
      color: $white;
      transition: 250ms ease-in-out;
    }
  }
}
.wrapper-6 {
  width: 100%;
  padding: 10vmax 0 5vmax 0;
  .wrapper-6-title {
    font-size: 3.4vmax;
    font-weight: 500;
    margin-left: 5%;
    position: relative;
    @media screen and (min-width: 1000px) {
      font-size: 3.5vmax;
    }
    @media screen and (orientation: portrait) {
      font-size: 4vmax;
    }
    &::before {
      content: '02';
      position: absolute;
      bottom: -1vmax;
      left: -1.5vmax;
      font-size: 7vmax;
      color: $main-color;
      z-index: -1;
      opacity: 0.4;
      @media screen and (orientation: portrait) {
        font-size: 8vmax;
      }
    }
  }
  .wrapper-6-content {
    width: 100%;
    margin-top: 7vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (orientation: portrait) {
      flex-direction: column;
    }
    .wrapper-6-img {
      width: 30vmax;
      height: 35vmax;
      background-image: url(../assets/img/wrapper-2-img.jpg);
      background-position: center;
      background-size: cover;
      position: relative;
      @media screen and (orientation: portrait) {
        width: 80%;
        height: 30vmax;
        margin-bottom: 0;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        width: 90%;
      }
    }
    .wrapper-6-content-text {
      width: 45%;
      padding: 3vmax;
      margin-right: -3vmax;
      z-index: 1;
      background-color: $main-color;
      @media screen and (orientation: portrait) {
        width: 80%;
        margin: auto;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        width: 90%;
      }
      .wrapper-6-text-title {
        font-size: 2.4vmax;
        font-weight: 500;
        color: $white;
        @media screen and (min-width: 1000px) {
          font-size: 2.5vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 3.5vmax;
        }
      }
      .wrapper-6-text-description {
        font-size: 1.1vmax;
        font-weight: 300;
        color: $white;
        margin-top: 2vmax;
        @media screen and (min-width: 1000px) {
          font-size: 1.2vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.8vmax;
        }
      }
    }
  }
}
.wrapper-7 {
  width: 100%;
  padding: 5vmax 0;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper-7-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    //grid-template-rows: repeat(3, 1fr);
    gap: 2vmax;
    grid-template-areas:
      'img1 img2 text text'
      'img3 img4 text text'
      'img5 img5 img5 img6';
    @media screen and (orientation: portrait) {
      width: 80%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'text text'
        'img1 img2 '
        'img3 img4'
        'img5 img6';
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-7-content {
      padding: 3vmax;
      grid-area: text;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      @media screen and (orientation: portrait) {
        padding: 3vmax 0;
      }
      .wrapper-7-content-title {
        font-weight: 500;
        font-size: 1.4vmax;
        color: $black;
        @media screen and (min-width: 1000px) {
          font-size: 1.5vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 3.5vmax;
        }
      }
      .wrapper-7-content-description {
        font-weight: 300;
        font-size: 0.9vmax;
        margin-top: 2vmax;
        @media screen and (min-width: 1000px) {
          font-size: 1vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.8vmax;
        }
      }
    }
    .wrapper-7-img {
      width: 100%;
      height: 10vmax;
      background-color: darkorange;
      @media screen and (orientation: portrait) {
        height: 20vmax;
      }
    }
    .w7-img1 {
      grid-area: 'img1';
    }
    .w7-img2 {
      grid-area: 'img-2';
    }
    .w7-img3 {
      grid-area: 'img3';
    }
    .w7-img4 {
      grid-area: 'img4';
    }
    .w7-img5 {
      grid-area: img5;
      background-color: deeppink;
    }
    .w7-img6 {
      grid-area: 'img6';
    }
  }
}
.wrapper-8 {
  width: 100%;
  padding: 10vmax 0 5vmax 0;
  .wrapper-8-title {
    font-size: 3.4vmax;
    font-weight: 500;
    margin-left: 5%;
    position: relative;
    @media screen and (min-width: 1000px) {
      font-size: 3.5vmax;
    }
    @media screen and (orientation: portrait) {
      font-size: 4vmax;
    }
    &::before {
      content: '03';
      position: absolute;
      bottom: -1vmax;
      left: -1.5vmax;
      font-size: 7vmax;
      color: $main-color;
      z-index: -1;
      opacity: 0.4;
      @media screen and (orientation: portrait) {
        font-size: 8vmax;
      }
    }
  }
  .wrapper-8-content {
    width: 100%;
    margin-top: 7vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (orientation: portrait) {
      flex-direction: column;
    }
    .wrapper-8-img {
      width: 30vmax;
      height: 35vmax;
      background-image: url(../assets/img/wrapper-2-img.jpg);
      background-position: center;
      background-size: cover;
      position: relative;
      @media screen and (orientation: portrait) {
        width: 80%;
        height: 30vmax;
        margin-bottom: 0;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        width: 90%;
      }
    }
    .wrapper-8-content-text {
      width: 45%;
      padding: 3vmax;
      margin-right: -3vmax;
      z-index: 1;
      background-color: $main-color;
      @media screen and (orientation: portrait) {
        width: 80%;
        margin: auto;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        width: 90%;
      }
      .wrapper-8-text-title {
        font-size: 2.4vmax;
        font-weight: 500;
        color: $white;
        @media screen and (min-width: 1000px) {
          font-size: 2.5vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 3.5vmax;
        }
      }
      .wrapper-8-text-description {
        font-size: 1.1vmax;
        font-weight: 300;
        color: $white;
        margin-top: 2vmax;
        @media screen and (min-width: 1000px) {
          font-size: 1.2vmax;
        }
        @media screen and (orientation: portrait) {
          font-size: 1.8vmax;
        }
      }
    }
  }
}
.wrapper-9 {
  width: 100%;
  padding: 8vmax 0;
  background-color: rgb(43, 43, 43);
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (orientation: portrait) {
    flex-direction: column;
  }
  .wrapper-9-content {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (orientation: portrait) {
      width: 80%;
      align-items: center;
    }
    @media screen and (orientation: portrait) and (max-width: 450px) {
      width: 90%;
    }
    .wrapper-9-title {
      font-size: 2.4vmax;
      font-weight: 500;
      color: $white;
      position: relative;
      z-index: 1;
      @media screen and (min-width: 1000px) {
        font-size: 2.5vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 3.5vmax;
        text-align: center;
      }
      &::before {
        content: '';
        position: absolute;
        width: 40%;
        height: 10px;
        background-color: $main-color;
        top: 2.25vmax;
        left: -1vmax;
        z-index: -1;
        @media screen and (orientation: portrait) {
          display: none;
        }
      }
    }
    .wrapper-9-description {
      margin-top: 2vmax;
      font-size: 0.9vmax;
      font-weight: 300;
      width: 75%;
      color: $white;
      @media screen and (min-width: 1000px) {
        font-size: 1vmax;
      }
      @media screen and (orientation: portrait) {
        font-size: 1.8vmax;
        text-align: center;
      }
      @media screen and (orientation: portrait) and (max-width: 450px) {
        width: 90%;
      }
    }
  }
  .wrapper-9-button {
    padding: 1vmax 3vmax;
    margin-top: 2vmax;
    background-color: $main-color;
    color: $white;
    font-size: 1vmax;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 250ms ease-in-out;
    font-weight: 300;
    @media screen and (min-width: 1000px) {
      font-size: 1.1vmax;
    }
    @media screen and (orientation: portrait) {
      font-size: 1.8vmax;
      margin-top: 3vmax;
    }
    &:hover {
      background-color: $white;
      color: $black;
      transition: 250ms ease-in-out;
    }
  }
}
