* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
}

.wrapper-1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/wrapper-1-offer-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.wrapper-1 header {
  width: 100%;
  padding: 1vmax 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: #fefefe;
  top: 0;
  left: 0;
  border-bottom: 3px solid #189b50;
  z-index: 9999;
}
.wrapper-1 header .nav-logo {
  font-size: 2.8vmax;
  font-weight: 300;
  color: #000;
}
.wrapper-1 header .nav-logo span {
  color: #189b50;
}
.wrapper-1 header .nav {
  width: 32%;
  height: 3vmax;
  display: flex;
  align-items: center;
}
.wrapper-1 header .nav .nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.wrapper-1 header .nav .nav-list .nav-item {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2vmax;
  color: #000;
  cursor: pointer;
  position: relative;
}
.wrapper-1 header .nav .nav-list .nav-item span {
  color: #189b50;
}
.wrapper-1 header .nav .nav-list .nav-item::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #189b50;
  position: absolute;
  bottom: 0;
  transition: 250ms ease-in-out;
}
.wrapper-1 header .nav .nav-list .nav-item:hover::before {
  width: 100%;
  transition: 250ms ease-in-out;
}
.wrapper-1 .wrapper-1-content {
  width: 45%;
  height: 100%;
  position: relative;
  background-color: #fefefe;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.wrapper-1 .wrapper-1-content .wrapper-1-title {
  font-size: 3vmax;
  color: #000;
  font-weight: 500;
}
.wrapper-1 .wrapper-1-content .wrapper-1-title span {
  color: #189b50;
}
.wrapper-1 .wrapper-1-content .wrapper-1-description {
  font-size: 1.1vmax;
  font-weight: 300;
  color: #000;
  margin-top: 2vmax;
  width: 90%;
}
.wrapper-1 .wrapper-1-content .wrapper-1-content-arrow {
  width: 4vmax;
  height: 4vmax;
  position: absolute;
  bottom: 4vmax;
  left: 50%;
  margin-left: -3vmax;
  background-image: url(../assets/icons/wrapper-1-offer-icon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.wrapper-1 .wrapper-1-content .wrapper-1-content-arrow:hover {
  transition: 300ms ease-in-out;
  bottom: 3.75vmax;
}

.wrapper-2 {
  width: 100%;
  padding: 10vmax 0 5vmax 0;
}
.wrapper-2 .wrapper-2-title {
  font-size: 3.4vmax;
  font-weight: 500;
  margin-left: 5%;
  position: relative;
}
.wrapper-2 .wrapper-2-title::before {
  content: "01";
  position: absolute;
  bottom: -1vmax;
  left: -1.5vmax;
  font-size: 7vmax;
  color: #189b50;
  z-index: -1;
  opacity: 0.4;
}
.wrapper-2 .wrapper-2-content {
  width: 100%;
  margin-top: 7vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-2 .wrapper-2-content .wrapper-2-img {
  width: 30vmax;
  height: 35vmax;
  background-image: url(../assets/img/wrapper-2-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
@media screen and (orientation: portrait) {
  .wrapper-2 .wrapper-2-content .wrapper-2-img {
    width: 100%;
    height: 30vmax;
    margin-top: 6vmax;
    margin-bottom: 0;
  }
}
.wrapper-2 .wrapper-2-content .wrapper-2-content-text {
  width: 45%;
  padding: 3vmax;
  margin-left: -3vmax;
  z-index: 1;
  background-color: #189b50;
}
.wrapper-2 .wrapper-2-content .wrapper-2-content-text .wrapper-2-text-title {
  font-size: 2.4vmax;
  font-weight: 500;
  color: #fefefe;
}
.wrapper-2 .wrapper-2-content .wrapper-2-content-text .wrapper-2-text-description {
  font-size: 1.1vmax;
  font-weight: 300;
  color: #fefefe;
  margin-top: 2vmax;
}

.wrapper-3 {
  width: 100%;
  padding: 5vmax 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-3 .wrapper-3-container {
  width: 35%;
  display: grid;
  -moz-column-gap: 5%;
       column-gap: 5%;
  margin-right: 6%;
  row-gap: 2vmax;
  grid-template-columns: 1fr 1fr;
}
.wrapper-3 .wrapper-3-container .wrapper-3-container-item {
  width: 100%;
}
.wrapper-3 .wrapper-3-container .wrapper-3-container-item .wrapper-3-item-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrapper-3 .wrapper-3-container .wrapper-3-container-item .wrapper-3-item-header .wrapper-3-item-icon {
  width: 2vmax;
  height: 2vmax;
  background-color: darkgoldenrod;
}
.wrapper-3 .wrapper-3-container .wrapper-3-container-item .wrapper-3-item-header .wrapper-3-item-title {
  font-weight: 500;
  font-size: 1.2vmax;
  color: #000;
  margin-left: 1vmax;
}
.wrapper-3 .wrapper-3-container .wrapper-3-container-item .wrapper-3-item-description {
  font-weight: 300;
  font-size: 0.9vmax;
  margin-top: 0.5vmax;
  color: #000;
}
.wrapper-3 .wrapper-3-img {
  width: 30vmax;
  height: 35vmax;
  background-image: url(../assets/img/wrapper-2-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-img {
    width: 100%;
    height: 30vmax;
    margin-top: 6vmax;
    margin-bottom: 0;
  }
}

.wrapper-4 {
  width: 100%;
  padding: 5vmax 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-4 .wrapper-4-img {
  width: 30vmax;
  height: 35vmax;
  background-image: url(../assets/img/wrapper-2-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
@media screen and (orientation: portrait) {
  .wrapper-4 .wrapper-4-img {
    width: 100%;
    height: 30vmax;
    margin-top: 6vmax;
    margin-bottom: 0;
  }
}
.wrapper-4 .wrapper-4-container {
  width: 35%;
  margin-left: 6%;
}
.wrapper-4 .wrapper-4-container .wrapper-4-title {
  font-size: 2.4vmax;
  font-weight: 500;
  color: #000;
  z-index: 1;
  position: relative;
}
.wrapper-4 .wrapper-4-container .wrapper-4-title::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 10px;
  background-color: #189b50;
  bottom: 0.75vmax;
  left: -1vmax;
  z-index: -1;
}
.wrapper-4 .wrapper-4-container .wrapper-4-content {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 1vmax;
       column-gap: 1vmax;
  row-gap: 2vmax;
  margin-top: 3vmax;
}
.wrapper-4 .wrapper-4-container .wrapper-4-content .wrapper-4-content-icon {
  width: 1.5vmax;
  height: 1.5vmax;
  background-image: url(../assets/icons/wrapper-4-offer-icon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper-4 .wrapper-4-container .wrapper-4-content .wrapper-4-content-text {
  font-weight: 300;
  font-size: 1vmax;
}

.wrapper-5 {
  width: 100%;
  padding: 5vmax 0;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper-5 .wrapper-5-content {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wrapper-5 .wrapper-5-content .wrapper-5-title {
  font-size: 2.4vmax;
  font-weight: 500;
  color: #000;
  position: relative;
  z-index: 1;
}
.wrapper-5 .wrapper-5-content .wrapper-5-title::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 10px;
  background-color: #189b50;
  top: 2.25vmax;
  left: -1vmax;
  z-index: -1;
}
.wrapper-5 .wrapper-5-content .wrapper-5-description {
  margin-top: 2vmax;
  font-size: 0.9vmax;
  font-weight: 300;
  width: 75%;
}
.wrapper-5 .wrapper-5-button {
  padding: 1vmax 3vmax;
  margin-top: 2vmax;
  background-color: #189b50;
  color: #fefefe;
  font-size: 1vmax;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  font-weight: 300;
}
.wrapper-5 .wrapper-5-button:hover {
  background-color: #000;
  color: #fefefe;
  transition: 250ms ease-in-out;
}

.wrapper-6 {
  width: 100%;
  padding: 10vmax 0 5vmax 0;
}
.wrapper-6 .wrapper-6-title {
  font-size: 3.4vmax;
  font-weight: 500;
  margin-left: 5%;
  position: relative;
}
.wrapper-6 .wrapper-6-title::before {
  content: "02";
  position: absolute;
  bottom: -1vmax;
  left: -1.5vmax;
  font-size: 7vmax;
  color: #189b50;
  z-index: -1;
  opacity: 0.4;
}
.wrapper-6 .wrapper-6-content {
  width: 100%;
  margin-top: 7vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-6 .wrapper-6-content .wrapper-6-img {
  width: 30vmax;
  height: 35vmax;
  background-image: url(../assets/img/wrapper-2-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
@media screen and (orientation: portrait) {
  .wrapper-6 .wrapper-6-content .wrapper-6-img {
    width: 100%;
    height: 30vmax;
    margin-top: 6vmax;
    margin-bottom: 0;
  }
}
.wrapper-6 .wrapper-6-content .wrapper-6-content-text {
  width: 45%;
  padding: 3vmax;
  margin-right: -3vmax;
  z-index: 1;
  background-color: #189b50;
}
.wrapper-6 .wrapper-6-content .wrapper-6-content-text .wrapper-6-text-title {
  font-size: 2.4vmax;
  font-weight: 500;
  color: #fefefe;
}
.wrapper-6 .wrapper-6-content .wrapper-6-content-text .wrapper-6-text-description {
  font-size: 1.1vmax;
  font-weight: 300;
  color: #fefefe;
  margin-top: 2vmax;
}

.wrapper-7 {
  width: 100%;
  padding: 5vmax 0;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-7 .wrapper-7-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2vmax;
  grid-template-areas: "img1 img2 text text" "img3 img4 text text" "img5 img5 img5 img6";
}
.wrapper-7 .wrapper-7-container .wrapper-7-content {
  padding: 3vmax;
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wrapper-7 .wrapper-7-container .wrapper-7-content .wrapper-7-content-title {
  font-weight: 500;
  font-size: 1.4vmax;
  color: #000;
}
.wrapper-7 .wrapper-7-container .wrapper-7-content .wrapper-7-content-description {
  font-weight: 300;
  font-size: 0.9vmax;
  margin-top: 2vmax;
}
.wrapper-7 .wrapper-7-container .wrapper-7-img {
  width: 100%;
  height: 10vmax;
  background-color: darkorange;
}
.wrapper-7 .wrapper-7-container .w7-img1 {
  grid-area: "img1";
}
.wrapper-7 .wrapper-7-container .w7-img2 {
  grid-area: "img-2";
}
.wrapper-7 .wrapper-7-container .w7-img3 {
  grid-area: "img3";
}
.wrapper-7 .wrapper-7-container .w7-img4 {
  grid-area: "img4";
}
.wrapper-7 .wrapper-7-container .w7-img5 {
  grid-area: img5;
  background-color: deeppink;
}
.wrapper-7 .wrapper-7-container .w7-img6 {
  grid-area: "img6";
}

.wrapper-8 {
  width: 100%;
  padding: 10vmax 0 5vmax 0;
}
.wrapper-8 .wrapper-8-title {
  font-size: 3.4vmax;
  font-weight: 500;
  margin-left: 5%;
  position: relative;
}
.wrapper-8 .wrapper-8-title::before {
  content: "03";
  position: absolute;
  bottom: -1vmax;
  left: -1.5vmax;
  font-size: 7vmax;
  color: #189b50;
  z-index: -1;
  opacity: 0.4;
}
.wrapper-8 .wrapper-8-content {
  width: 100%;
  margin-top: 7vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-8 .wrapper-8-content .wrapper-8-img {
  width: 30vmax;
  height: 35vmax;
  background-image: url(../assets/img/wrapper-2-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
@media screen and (orientation: portrait) {
  .wrapper-8 .wrapper-8-content .wrapper-8-img {
    width: 100%;
    height: 30vmax;
    margin-top: 6vmax;
    margin-bottom: 0;
  }
}
.wrapper-8 .wrapper-8-content .wrapper-8-content-text {
  width: 45%;
  padding: 3vmax;
  margin-right: -3vmax;
  z-index: 1;
  background-color: #189b50;
}
.wrapper-8 .wrapper-8-content .wrapper-8-content-text .wrapper-8-text-title {
  font-size: 2.4vmax;
  font-weight: 500;
  color: #fefefe;
}
.wrapper-8 .wrapper-8-content .wrapper-8-content-text .wrapper-8-text-description {
  font-size: 1.1vmax;
  font-weight: 300;
  color: #fefefe;
  margin-top: 2vmax;
}

.wrapper-9 {
  width: 100%;
  padding: 8vmax 0;
  background-color: rgb(28, 28, 28);
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-9 .wrapper-9-content {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wrapper-9 .wrapper-9-content .wrapper-9-title {
  font-size: 2.4vmax;
  font-weight: 500;
  color: #fefefe;
  position: relative;
  z-index: 1;
}
.wrapper-9 .wrapper-9-content .wrapper-9-title::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 10px;
  background-color: #189b50;
  top: 2.25vmax;
  left: -1vmax;
  z-index: -1;
}
.wrapper-9 .wrapper-9-content .wrapper-9-description {
  margin-top: 2vmax;
  font-size: 0.9vmax;
  font-weight: 300;
  width: 75%;
  color: #fefefe;
}
.wrapper-9 .wrapper-9-button {
  padding: 1vmax 3vmax;
  margin-top: 2vmax;
  background-color: #189b50;
  color: #fefefe;
  font-size: 1vmax;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  font-weight: 300;
}
.wrapper-9 .wrapper-9-button:hover {
  background-color: #fefefe;
  color: #000;
  transition: 250ms ease-in-out;
}/*# sourceMappingURL=offer.css.map */